<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="\webjars\bootstrap\5.3.2\bootstrap-5.3.2.jar">
   	<link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

    <h1>Error 404 - Página no encontrada</h1>
    <img src="/imgs/error404.jpg" alt="ERROR 404">
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <p>Puedes volver a la <a href="/">página de inicio</a>.</p>

</body>
</html>
