body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

.activate-button {
    color: #007bff;
}
