<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Alumno</title>

    <!-- Agregar estilos de Bootstrap desde Webjars -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />

    <!-- Agregar estilos de FontAwesome desde Webjars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Agregar script de jQuery desde Webjars -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

    <!-- Otros estilos o enlaces que puedas necesitar -->
</head>
<body>

<div th:insert="~{/homenav.html}"></div>
    <div class="container text-center"> <!-- Contenedor centrado -->
        <h1 class="animate__animated animate__fadeIn">Editar Alumno</h1>

        <form th:action="@{/index/edit}" th:object="${alumno}" method="post" class="animate__animated animate__fadeIn">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{password}" />
			<input type="hidden" th:field="*{role}" />
            <input type="hidden" th:field="*{activado}" />
            <input type="hidden" th:field="*{borrado}" />


            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required />
            </div>

            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" th:field="*{apellidos}" class="form-control" id="apellidos" required />
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="username" required />
            </div>

           <div class="mb-3">
			  	<select th:field="*{idFamilia}" class="form-control">
			    	<option th:each="familia : ${familiasProfesionales}" th:value="${familia.id}" th:text="${familia.nombre}"></option>
				</select>
			</div>

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
    </div>

   
</body>
</html>
