<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empresas</title>

    <!-- Agregar estilos de Bootstrap desde Webjars -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />

    <!-- Agregar estilos de FontAwesome desde Webjars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
    <!-- Otros estilos o enlaces que puedas necesitar -->
</head>
<body>

<div th:insert="~{/homenav.html}"></div>
    <div class="container text-center"> <!-- Contenedor centrado -->
        <h1 class="animate_animated animate_fadeIn">Lista de Empresas</h1>

        <!-- Botón para crear nueva familia -->
        <a th:href="@{/index/crearempresa}" class="btn btn-primary mb-3">Añadir Nueva Empresa</a>

        <table class="table table-striped animate_animated animate_fadeIn">
            <thead>
                <tr>
                
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Logo</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <!-- Agrega más columnas si es necesario -->
                </tr>
            </thead>
            <tbody>
                <!-- Agrega más columnas si es necesario -->
				<tr th:each="empresa : ${empresas}" th:unless="${empresa.borrado}">
	
				    <td th:text="${empresa.nombre}"></td>
				    <td th:text="${empresa.direccion}"></td>
				    <td th:text="${empresa.telefono}"></td>
				    <td th:text="${empresa.email}"></td>
				    <td>
        				<img th:src="@{/imgs/logos/{logo}(logo=${empresa.logo})}" alt="Logo de la Empresa" style="width: 50px; height: 50px;">
    				</td>
				    <td>
				        <!-- Enlace para la acción de editar -->
				        <a th:href="@{/index/editEmpresa/{id}(id=${empresa.id})}" class="btn btn-link edit-button">
				            <i class="fa fa-edit fs-3"></i>
				        </a>
				    </td>
				    <td>
			            <form method="post" th:action="@{/index/empresas/{id}(id=${empresa.id})}">
					    	<button type="submit" class="btn btn-link delete-button" th:attr="data-empresaid=${empresa.id}">
					        	<i class="fa fa-trash fs-3"></i>
					    	</button>
						</form>
			        </td>
				</tr>

            </tbody>
        </table>
    </div>
    <!-- Agregar script de jQuery desde Webjars -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpatch.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
	    // Cuando el usuario selecciona una imagen, actualiza el campo oculto con el nombre de la imagen
	    $('#logoImagen').change(function() {
	        var fileName = $(this).val().split('\\').pop();
	        $('#logo').val(fileName);
	    });
</script> 

</body>
</html>